#hero {
    height: 100%;
    display: flex;
    padding: 15px clamp(10px, 10%, 100px);
    justify-content: center;
    align-items: center;
}

#hero>* {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;

}

#intro {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 20vh;

}


#intro small:first-child {
    font-family: main;
    font-size: 2rem;
    align-self: flex-start;
}

#intro big {
    font-family: f1;
    font-size: 5.5rem;
    color: var(--pri);
    -webkit-text-stroke: 2px var(--t1);
}


#intro small:last-child {
    font-family: main;
    font-size: 1.5rem;
    align-self: flex-end;
    text-align: end;

}

#about {
    align-items: center;
    padding-top: 18vh;


}

#about p {
    font-family: f2;
    color: var(--t1);
    font-weight: 600;
    width: 80%;
}

#btn {
    background: var(--pri);
    border: 2px solid var(--t2);
    padding: 1rem 2rem;
    align-self: center;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    transform: translateY(-120%);
    font-family: main;
    box-shadow: 0 0 16px var(--t2);
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
}

#btn span {
    transition: color .5s ease-in-out;
    position: relative;
    z-index: 99;
}

#btn:hover::before {
    padding: 250px;
    
}


#btn:hover span {
    color: var(--pri);
}

#btn::before {
    content: "";
    position: absolute;
    background: var(--t1);
    transition: padding .5s ease-in-out;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    border-radius: 50%;
    top: var(--y);
    left: var(--x);
    filter: blur(3px);
}


@media screen and (max-width: 800px) {

    #hero {
        flex-direction: column;
    }


    #intro small:first-child {
        font-size: 1.5rem;

    }


    #intro big {
        font-size: 3.5rem;

    }

    #intro small:last-child {
        font-size: 1rem;


    }

    #about {
        padding-top: 10vh;
    }

    #about p {
        font-size: 1.2rem;
        text-align: center;
        width: unset;
        opacity: 1;


    }

    @keyframes paraReveal {
        to {
            opacity: 1;
            transform: translateY(0)
        }
    }

}

@media screen and (min-width: 800px) {


    #hero {
        overflow: hidden;
        position: relative;
    }

    #hero::before {
        padding: 0;
    }

    #hero:hover::before {
        content: "";
        padding: 30px;
        border-radius: 50%;
        position: absolute;
        background: var(--t1);
        top: var(--y);
        left: var(--x);
        mix-blend-mode: difference;
        filter: blur(5px);
        transform: translate(-50%, -50%);
        transition: padding .3s ease-in-out;
        cursor: pointer;
        z-index: 69;
    }

    #about p {
        letter-spacing: 1px;
        line-height: 150%;
    }

}