@font-face {
    font-family: main;
    src: url(../RussoOne-Regular.ttf);
}

@font-face {
    font-family: f1;
    src: url(../ProtestRiot-Regular.ttf);
}

@font-face {
    font-family: f2;
    src: url(../Kanit-Regular.ttf);
}

:root {
    --pri: rgb(9, 9, 13);
    --t1: rgb(255, 243, 211);
    --t2: rgba(193, 186, 169, 0.733);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--t1);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: main;
    letter-spacing: 1px;
}

html,
body {
    width: 100%;
    height: 100%;
    background: var(--pri);
    overflow: hidden;
}

main {
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    padding-top: 8vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior:smooth;
}