@font-face {
    font-family: main;
    src: url(./RussoOne-Regular.ttf);
}
@font-face {
    font-family: f1;
    src: url(./ProtestRiot-Regular.ttf);
}
@font-face {
    font-family: f2;
    src: url(./Kanit-Regular.ttf);
}

* {
    font-family: main;
}


header, #hero h1 {
    font-family: f1;
}

header {
    position: sticky;
    backdrop-filter: blur(5px);
    z-index: 99;
    background: #00000033;
}



main {
    background: #141414;
    color: rgb(255, 243, 210);
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

section {
    height: 100vh;
}

.fade {
    color: rgba(255, 255, 255, 0.728);

}

#btn {
    box-shadow: 0 4px 24px rgba(255, 255, 255, 0.784);
}